@using BestMovies.Services
@using BestMovies.Services.implementation
@using LoginComponent
@using BestMovies.Models.ApiModels
@using BestMovies.Models
@inherits LayoutComponentBase
@* @inject NavigationManager Navigation *@
@inject IUserLoginService LoginService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<PageTitle>BestMovies</PageTitle>

<MudThemeProvider Theme="_theme"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudAppBar Color="Color.Primary" Fixed="false">
    <MudIconButton Icon="@Icons.Material.Filled.House" Edge="Edge.Start" Href="/"/>
    <MudSpacer/>
    
    @* Search Field *@
    <Search ResultClickCallBack="@OnClickNavigateSearchResult"/>
    <MudSpacer/>
    
    @* Account *@
    <AuthorizeView>
        <Authorized>
            <MudIconButton Icon="@Icons.Material.Filled.Person" href="@($"/UserPage/{_userId}")"/>
            <MudIconButton Icon="@Icons.Material.Filled.Logout" href="/" OnClick="PerformLogout"/>
        </Authorized>
        <NotAuthorized>
            <MudIconButton Icon="@Icons.Material.Filled.Login" href="/Login"/>
        </NotAuthorized>
    </AuthorizeView>
</MudAppBar>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private readonly MudTheme _theme = new()
    {
        Palette = new PaletteLight
        {
            Primary = "#34D5B2",
            Secondary = "#2AFC98",
            Tertiary = "#2DE1FC",
            Info = "#FFFFFF",
            Dark = "#12263A"
        }
    };

    private Guid _userId;

    private async Task PerformLogout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).Logout();
    }
    
    private void OnClickNavigateSearchResult(SearchResult result)
    {
        
        switch (result.GetEntityType())
        {
            case EntityType.Movie:
                NavigationManager.NavigateTo($"/Movie/{result.Id}", true);
                break;
            case EntityType.Tv:
                break;
            case EntityType.Actor:
                break;
            case EntityType.Director:
                break;
            case EntityType.Producer:
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }
    
    

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (LoginService.IsLoggedIn)
            {
                Console.WriteLine("+ User is Logged In");
                _userId = LoginService.GetCurrentUserAsync().Result.Id;
                
            }
            else
            {
                Console.WriteLine("- User is Logged Out");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
        return base.OnAfterRenderAsync(firstRender);
    }

}